<table>
<tr>
	<td>
		Lugares para deficientes	
	</td>	
</tr>
<tr>
	<td>
		<input type='text' value='{spacesForDisabled}' id='spacesForDisabled'/>
	</td>	
</tr>
<tr>
	<td>
		<input type='button' value='OK' onclick='submit();'/>
	</td>
</tr>
</table>

<script language='javascript'>
	function submit(){
		
		var dataString = 'spacesForDisabled='+ document.getElementById('spacesForDisabled').value;  
		alert (dataString);return false;  
		$.ajax({  
		  type: "POST",  
		  url: theapibaseurl + "/submit/amenity/parking",  
		  data: dataString,  
		  success: function() {  
		  /*  $('#contact_form').html("<div id='message'></div>");  
		    $('#message').html("<h2>Contact Form Submitted!</h2>")  
		    .append("<p>We will be in touch soon.</p>")  
		    .hide()  
		    .fadeIn(1500, function() {  
		      $('#message').append("<img id='checkmark' src='images/check.png' />");*/
		      alert('data submited');
		    });  
		  }  
		});  
		return false;  
	}
</script>